<!DOCTYPE html>
<html>
	<head>
	  <title>Boost</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<div class="container flash">
			<% flash.each do |name, msg| %>
			  <% if msg.is_a?(String) %>
			    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
			      <a class="close" data-dismiss="alert">&#215;</a>
			      <%= content_tag :div, msg, :id => "flash_#{name}" %>
			    </div>
			  <% end %>
			<% end %> 

			<% if current_user %>
				<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
			<% else %>
  				<%= link_to "Sign In", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %>
			<% end %>

			<%= yield %>


		</div>

		<%= yield %>

	</body>
</html>
